.project-img{
    margin-left: 100px;
    margin-right: 50px;
    max-width: 400px;
    max-height: 600px;
    border-radius: 3%;
}

.row{
    align-items: center;
    justify-items: center;
    margin-left: 50px;
}

.container{
    display: flex;
}

.card{
    width: 200px;
    height: 170px;
    margin-right: 50px;
    margin-top: 30px;
    margin-left:100px;
    padding: 10px;
    justify-content: center;
    border-color: mediumturquoise;
    text-align: center;
}