<html>
    <head>
        <title>My projects:MovieBinder</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="/static/project.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MovieBinder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/newproject/">New Project +</a>
                    <a class="nav-item nav-link" href="/crew/">Talent/Crew</a>
                    <a class="nav-item nav-link" href="/home/">Logout-></a>
                </div>
            </div>
        </nav>

        <br>

        <div class="main-container">
            <h3>Active Projects</h3>
            <hr>
            <div class="project-container">
                <div class="card">
                    {% for project in projects %}
                    <img class="project-img" src="{{project.project_image.url}}" class="card-img-top">
                    <div class="card-body">
                        <a href="/myprojects/{{project.id}}/" style="color: teal"><h3 class="card-title">{{project.title}}</h3></a>
                        <p>{{project.company_name}}</p>
                        <p>Created on {{project.created_on}}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>