<html>
    <head>
        <title>{{script.title}}:MovieBinder</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MovieBinder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/home/">Logout-></a>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
            <h2>{{script.script_title}}</h2>
            <br>
            <p>{{script.script_content}}</p>
            <br>
            <p>{{script.edited_on}}</p>
            <br>
            <a href="/editscript/{{script.id}}/"><button type="button" class="btn btn-md btn btn-success">Edit Script</button></a>
        </div>  
    </body>
</html>